.wrapper {
  display: flex;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);
}

#searchUserInput {
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  padding-left: 10px;
  color: var(--font-secondary);
}

#searchButton {
  width: 100px;
  height: 50px;
}
